/* Zmienne */
:root {

}

/* Czcionki */
@font-face {
    font-family: 'Lexend';
    src: url(../fonts/Lexend.ttf);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}
ul {
    list-style: none;
}

#otz {
    color:rgb(209, 43, 78);
    position: relative;
}
#otz::before {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% + 10px);
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url(../content/favicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    translate: 0 -50%;
}

body {
    font-family: 'Lexend', sans-serif;
    /* background: linear-gradient(rgb(14 14 16), #181a1c); */
    height: 100dvh;
}


#hdr {
    position: fixed;
    height: 100dvh;
    width: 100%;
    align-content: center;
    background-color: #161719;
    z-index: 10000;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* DO ANIMACJI */
}
#heading-section {
    text-align: center;
    color:white;
    padding-block: 64px;
}
#logo img {
    display: inline-block;
}

#nav-bar {
    display: flex;
    justify-content: center;
}
#nav-bar #categories-list {
    display: flex;
    gap: 32px;
}
#nav-bar .category-select {
    text-align: center;
    color: white;
    padding: 32px;
    border: 1px solid white;
    border-radius: 32px;
    cursor: pointer;
}
#nav-bar .category-select img {
    height: 150px;
    margin-bottom: 8px;
}
.category-section {
    background-color: #161719;
    color: white;
    /* min-height: 100%; */

    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-content: start;
}

.perks-profile {
    width: 400px;
    background-color: rgb(30, 30, 30);
    padding: 16px;
    position: relative;
}
.perks-profile .profile-image {
    /* background-color: red; */
}
.perks-profile .profile-content {
    /* background-color: red; */
}
.perks-profile .profile-name {
    font-size: 2rem;
}
.perks-profile .build-information {
    /* background-color: red; */
}
.perks-profile .build-information .build-name {
    /* background-color: red; */
}
.perks-profile .build-information .perks-list {
    display: flex;
}
.perks-profile .build-information .perks-list li {
    background-image: url(../content/perk-background-dark.png);
    background-size: contain;
    padding: 4px;
}
.alt-builds {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
    padding: 16px;
    transition: .2s;
    display: none;
}
.perks-profile .alt-builds button {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: maroon;
    border: 0;
    font-size: 1.2rem;
    border-radius: 50%;
    color: white;
    padding: 4px;
    cursor: pointer;
    /* left: 100%; */
}

.shown {
    display: block;
}

#powrot {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 8px;
}
/* main{
    display: flex;
    flex-direction: row;
}
main #sectionKiller #boxKiller {
    width: 50%;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    border: 2px solid white;
    border-radius: 5%;
    padding: 10px;
} */


/* main #sectionKiller #boxKiller #imageKiller img {
    width: 400px;
    height: auto;
}

main #sectionKiller #boxKiller #perksKiller {
    flex-grow: 1;
    text-align: center;
}


main #sectionKiller #boxKiller #perksKiller .perksList {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

main #sectionKiller #boxKiller #perksKiller .perksList img {
    width: 5rem;
    height: 5rem;
}
main #sectionSurvivor{
    display: none;
}
#perksKiller .build {
    margin-bottom: 20px;
} */