@font-face {
    font-family: 'Lexend';
    src: url(../fonts/Lexend.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(30, 30, 30);
    color: white;
    height: 100dvh;
    font-family: 'Lexend';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
button, input, select {
    font-family: inherit;
}
input[type="text"], select {
    background-color: transparent;
    border: none;
    /* border-top: 2px solid white; */
    border-bottom: 2px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    outline: none;
    appearance: none;
    height: 36px;
    padding: 4px 12px;
    border-radius: 8px;
    color: white;
    width: 100%;
}
select {
    cursor: pointer;
}
select:open {
    color: black;
}
a {
    text-decoration: none;
    color: hsl(347, 66%, 49%);
}
a:hover {
    text-decoration: underline;
}

.form-panel {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-panel label p {
    position: absolute;
    top: 0;
    left: 8px;
    translate: 0 -50%;
    z-index: 1;
    padding-inline: 4px;
    background-color: rgb(30, 30, 30);
    font-size: .7rem;
}
.form-panel label {
    position: relative;
    margin-bottom: 8px;
}
input[type="text"]:focus, select:focus {
    border-color: hsl(347, 66%, 49%);
}
input[type="text"]:valid,
select:not(:empty) {
    border-color: hsl(347, 66%, 49%);
}

table {
    /* padding: 4px; */
    width: 100%;
    /* position: relative; */
}
table tr:nth-child(even) {
    background-color: hsl(0, 0%, 18%);
}
td, th {
    padding: 4px 16px;
    text-align: center;
}
th {
    cursor: pointer;
}
thead {
    position: sticky;
    top: 0;
    background-color: hsl(0, 0%, 15%);
}
td {
    cursor: default;
}
#build-table-holder {
    max-height: 300px;
    /* overflow-y: auto; */
    border-radius: 4px;
    background-color: hsl(0, 0%, 15%);
    margin-top: 8px;
    overflow-y: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#build-table-holder::-webkit-scrollbar {
    width: 5px;
}
#build-table-holder::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 90%, .1);
    border-radius: 1000px;
}

#main-page-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    translate: -50% -50%;
}

#build-inserter .add-build-btn {
    border-radius: 8px;
    height: 28px;
    border: none;
    background-color: hsl(347, 66%, 49%);
    font-weight: bold;
    color: white;
    cursor: pointer;
}